<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">-||-</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if controller_name == ('home') %>">
        <%= link_to root_path, class: 'nav-link' do %>
          Inicio <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if controller_name == 'users' %>">
        <%= link_to 'Usuarios', users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if controller_name == 'employees' %>">
        <%= link_to 'Empleados', employees_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if controller_name == 'phone_devices' || controller_name == 'phone_lines' %>">
        <%= link_to 'Teléfonos', phone_devices_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if controller_name == 'materials' %>">
        <%= link_to 'Materiales', materials_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown <%= 'active' if controller_name == 'warehouses' %>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Almacen
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Alamacén', warehouses_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Impresoras', printers_path, class: 'dropdown-item' %>
          <%= link_to 'Consumibles', consumables_path, class: 'dropdown-item' %>
          <%= link_to 'Accesorios', accessories_path, class: 'dropdown-item' %>
          <%= link_to 'E. Computo', computer_equipments_path, class: 'dropdown-item' %>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <%= current_user.email %> |
    <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'btn btn-alert' %>
  </div>
</nav>