<p id="notice"><%= notice %></p>

<h1>Phone Lines</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Sim key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_lines.each do |phone_line| %>
      <tr>
        <td><%= phone_line.number %></td>
        <td><%= phone_line.SIM_key %></td>
        <td><%= link_to 'Show', phone_line %></td>
        <td><%= link_to 'Edit', edit_phone_line_path(phone_line) %></td>
        <td><%= link_to 'Destroy', phone_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone Line', new_phone_line_path %>
