<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @printer.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @printer.model %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @printer.sku %>
</p>

<p>
  <strong>Value:</strong>
  <%= @printer.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @printer.status %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @printer.observations %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @printer.assignment %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @printer.quantity %>
</p>

<p>
  <strong>Consumable:</strong>
  <%= @printer.consumable %>
</p>

<%= link_to 'Edit', edit_printer_path(@printer) %> |
<%= link_to 'Back', printers_path %>
