<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @material.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @material.model %>
</p>

<p>
  <strong>Value:</strong>
  <%= @material.value %>
</p>

<p>
  <strong>Type:</strong>
  <%= @material.type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @material.quantity %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
