<%= form_with(model: phone_device, local: true) do |form| %>
  <% if phone_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone_device.errors.count, "error") %> prohibited this phone_device from being saved:</h2>

      <ul>
      <% phone_device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand, 'Marca' %>
    <%= form.text_field :brand, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :model, 'Modelo' %>
    <%= form.text_field :model, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :sku, 'SKU' %>
    <%= form.text_field :sku, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :value, 'Valor' %>
    <%= form.text_field :value, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :status, 'Estado' %>
    <%= form.text_field :status, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :observations, 'Observaciones' %>
    <%= form.text_field :observations, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :assignment, 'Asignación' %>
    <%= form.text_field :assignment, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :quantity, 'Cantidad' %>
    <%= form.text_field :quantity, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :IMEI, 'IMEI' %>
    <%= form.text_field :IMEI, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :phone_line_id, 'Linea Telefónica(solo se muestran disponibles)' %>
    <%#= form.text_field :phone_line_id %>
    <%= form.select :phone_line_id, @available_phone_lines.map { |line| [line.number, line.id]}, {},class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
