<%= form_with(model: phone_device, local: true) do |form| %>
  <% if phone_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone_device.errors.count, "error") %> prohibited this phone_device from being saved:</h2>

      <ul>
      <% phone_device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_field :observations %>
  </div>

  <div class="field">
    <%= form.label :assignment %>
    <%= form.text_field :assignment %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :IMEI %>
    <%= form.text_field :IMEI %>
  </div>

  <div class="field">
    <%= form.label :phone_line_id %>
    <%= form.text_field :phone_line_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
