<p id="notice"><%= notice %></p>

<h1>Phone Devices</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Sku</th>
      <th>Value</th>
      <th>Status</th>
      <th>Observations</th>
      <th>Assignment</th>
      <th>Quantity</th>
      <th>Imei</th>
      <th>Phone line</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_devices.each do |phone_device| %>
      <tr>
        <td><%= phone_device.brand %></td>
        <td><%= phone_device.model %></td>
        <td><%= phone_device.sku %></td>
        <td><%= phone_device.value %></td>
        <td><%= phone_device.status %></td>
        <td><%= phone_device.observations %></td>
        <td><%= phone_device.assignment %></td>
        <td><%= phone_device.quantity %></td>
        <td><%= phone_device.IMEI %></td>
        <td><%= phone_device.phone_line %></td>
        <td><%= link_to 'Show', phone_device %></td>
        <td><%= link_to 'Edit', edit_phone_device_path(phone_device) %></td>
        <td><%= link_to 'Destroy', phone_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone Device', new_phone_device_path %>
