<div class="container">
  
  <p>
    <strong>Marca:</strong>
    <%= @phone_device.brand %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= @phone_device.model %>
  </p>

  <p>
    <strong>SKU:</strong>
    <%= @phone_device.sku %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= @phone_device.value %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @phone_device.status %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= @phone_device.observations %>
  </p>

  <p>
    <strong>Asignacion:</strong>
    <%= @phone_device.assignment %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= @phone_device.quantity %>
  </p>

  <p>
    <strong>IMEI:</strong>
    <%= @phone_device.IMEI %>
  </p>

  <p>
    <strong>Linea Telefonica:</strong>
    <%= @phone_device.phone_line.number if @phone_device.phone_line.present? %>
  </p>

  <%= link_to 'Edit', edit_phone_device_path(@phone_device) %> |
  <%= link_to 'Atrás', phone_devices_path %>
</div>
