<%= form_with(model: accessory, local: true) do |form| %>
  <% if accessory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accessory.errors.count, "error") %> prohibited this accessory from being saved:</h2>

      <ul>
      <% accessory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nombre' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :brand, 'Marca' %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model, 'Modelo' %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <div class="field">
    <%= form.label :value, 'Valor' %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :status, 'Estado' %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :observations, 'Observaciones' %>
    <%= form.text_field :observations %>
  </div>

  <div class="field">
    <%= form.label :assignment, 'Asignación' %>
    <%= form.text_field :assignment %>
  </div>

  <div class="field">
    <%= form.label :quantity, 'Cantidad' %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
